body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/ghost-riders.gif');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.time-out {
  display: flex;
  background-image: url('./images/senjutsu.gif');
  background-repeat: no-repeat;
  background-size: cover;
  height: 273px;
  width: 640px;
  border-radius: 10px;
}

.timing {
  background-image: url('./images/joker.gif');
  background-repeat: no-repeat;
  background-size: cover;
  width: 700px;
  height: 291px;
  border-radius: 10px;
}